.pills {
  border: none;
  color: white;
  padding: 0.2rem 0.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.3rem;
  cursor: pointer;
  border-radius: $border-radius-button;
  font-size: 0.8rem;
}

.pills:hover {
  background-color: #f1f1f1;
}

.pills__accept {
  @extend .pills;
  background-color: #105601;

  &:hover {
    background-color: #26b405;
  }
}

.pills__refuse {
  @extend .pills;
  background-color: rgb(96, 2, 2);

  &:hover {
    background-color: #ff4141;
  }
}

.pills__responsible {
  border: none;
  color: white;
  padding: 0.1rem 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.3rem;
  border-radius: $border-radius-button;
  font-size: 0.8rem;
  background-color: #999999;
}

.pills__responsible--0 {
  @extend .pills__responsible;
  background-color: rgba(255, 0, 0, 0.7);
  color: black;
}

.pills__responsible--1 {
  @extend .pills__responsible;
  background-color: rgba(102, 255, 0, 0.7);
  color: black;
}
.pills__responsible--2 {
  @extend .pills__responsible;
  background-color: rgba(0, 255, 166, 0.7);
  color: black;
}
.pills__responsible--3 {
  @extend .pills__responsible;
  background-color: rgba(140, 0, 255, 0.7);
  color: black;
}
.pills__responsible--4 {
  @extend .pills__responsible;
  background-color: rgba(255, 89, 0, 0.7);
  color: black;
}