<div class="header">
  <div class="header__logo">
    Hello <%= @user.email %>
  </div>
  <div class="header__buttons">
    <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
  </div>
</div>
