<div class="header">
  <div class="header__container">
    <div class="header__logo">
      👋🏻 <%= @user.name %> !
    </div>
    <div class="header__buttons">
      <%= button_to 'Log out', destroy_user_session_path, method: :delete, :class => "header__sign" %>
    </div>
  </div>
</div>
