<%= form_for [@group, @task], :html => {:class =>"form--inline"} do |f|  %>
  <div class="form__elements--inline">
    <div class="form__inputs--inline">
      <%= f.text_field :title, autofocus: true, :class => "form__text--inline", required: true %>
      Responsable :
      <%= f.select :user, @group.users.map { |user| [user.name, user.id]}, {}, class: "form__select--inline" %>
    </div>
    <div class="form__submit--inline">
      <%= f.submit "Ajouter" %>
    </div>
  </div>
<% end %>