<%= turbo_frame_tag dom_id(task) %>
<div class="section__elements">
  <div class="elements__title">
    <%= task.title %>
  </div>
  <div class="elements__value">
    <%= task.content %>
  </div>
</div>
