<div class="section__elements">
  <div class="elements__title">
    <%= link_to group_path(group) do %>
      <%= group.title %>
    <% end %>
  </div>
  <div class="elements__value">
    <%= group.description %>
  </div>
  <div class="elements__value">
    <%= group.goal %>
  </div>
</div>