<div class="container">
  <%= render(ActionbarComponent.new(title: "Mes groupes", domain: "Group", join: true, create: true)) %>
  <section>
    <div class="section__titles">
      <h2 class="section__title">Actifs</h2>
      <h3 class="section__subtitle">Groupes actuellement actifs auxquels tu es enregistrés</h3>
    </div>
      <%= render @groups %>
  </section>
</div>
