.container {
  display: flex;
  border-radius: $border-radius-small;
  padding-top: calc(#{$padding-normal}/2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  .container__supertitle {
    font-weight: 800;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    .section__titles {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .section__title {
        font-weight: 800;
        font-size: 1.1rem;
      }
      .section__subtitle {
        font-weight: 300;
        color: gray;
        font-size: 1rem;
      }
    }
    a {
      @extend .underline
    }
    .section__elements {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: start;
      align-items: center;
      .elements__title {
        font-weight: 600;
        margin-right: 0.5rem;
      }
      .elements__action {
        display: flex;
        margin-right: 0.5rem;

        button {
          margin: 0 0.2rem;
        }
      }

      .elements__minor-info {
        margin-left: 0.1rem;
        font-style: italic;
        color: gray;
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    border-radius: 0;
    margin: 30px auto;
    padding: 0.5rem;
    width: auto;
  }
}

.container__messages {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .message__user {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    min-height: 2rem;
    background-color: #cecece;
    color: #eaeaea;
    border-radius: $border-radius-small;
    margin: .5rem 0;
    padding: 1rem;
    color: black;
    margin: .5rem 0;
    flex-direction: column;
    .message__note {
      font-style: italic;
      font-size: .9rem;
      color: #666666;
      align-self: flex-end;
    }
  }

  .other__user {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    min-height: 2rem;
    background-color: rgba(55, 134, 3, 0.7);
    color: #eaeaea;
    border-radius: $border-radius-small;
    margin: .5rem 0;
    float: right;
    padding: 1rem;
    align-self: flex-end;
  }
}