.container {
  display: flex;
  border-radius: $border-radius-small;
  margin: 30px auto;
  padding-top: calc(#{$padding-normal}/2);
  padding-left: $padding-normal;
  padding-right: $padding-normal;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  width: 76vw;
  flex-direction: column;
  .container__supertitle {
    font-weight: 800;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    .section__titles {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .section__title {
        font-weight: 800;
        font-size: 1.1rem;
      }
      .section__subtitle {
        font-weight: 300;
        color: gray;
        font-size: 1rem;
      }
    }
    a {
      @extend .underline
    }
    .section__elements {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: start;
      align-items: center;
      .elements__title {
        font-weight: 600;
        margin-right: 0.5rem;
      }
      .elements__action {
        margin-right: 0.5rem;
      }

      .elements__minor-info {
        margin-left: 0.1rem;
        font-style: italic;
        color: gray;
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    border-radius: 0;
    margin: 30px auto;
    padding: 0.5rem;
    width: auto;
  }
}
