<div class="container">
  <%= render(ActionbarComponent.new(title: "Mes cours")) %>
  <section>
    <div class="section__titles">
      <h2 class="section__title">Actifs</h2>
      <h3 class="section__subtitle">Cours actuellement actifs auxquels tu es enregistrés</h3>
    </div>
  </section>
  <section>
    <div class="section__titles">
      <h2 class="section__title">Inactifs</h2>
      <h3 class="section__subtitle">Cours inactifs dont tu as fait parti</h3>
    </div>
  </section>
</div>
