.actionbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 800;

  .sketch-rule {
    width: 100%;
    height: 0.4em;
    margin: 3em 0;
    border: 0;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 119 6'%3E%3Cpath d='M119 3.8c-60 2.5-33.5-7-119 0' fill='none' stroke='%231d2d35' stroke-width='2'/%3E%3C/svg%3E") center/5em 100% repeat-x
  }

  .actionbar__title {
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 1.2rem;
    flex-direction: column;
  }

  .actionbar__subtitle {
    font-size: 1rem;
    color: black;
  }

  .action__searchbox {
    .searchbox__input {

    }
  }
  .actionbar__buttons {
    display: flex;
    justify-content: space-between;

    .actionbar__button {
      @extend .button;
    }
    .actionbar__button--outline {
      @extend .button--outline;
    }
  }
}

@media screen and (max-width: 800px) {
  .actionbar {
    flex-direction: column;
  }

  .actionbar__title {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }

  .actionbar__buttons {
    flex-direction: row;
  }
}