.button {
    flex-grow: 1;
    text-align: center;
    font-size: inherit;
    font-weight: 700;
    background-color: black;
    border-radius: $border-radius-button;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 .5rem;
    &:hover {
      background-color: #ffe000;
      color: black;
      cursor: pointer;
    }
}

.button--outline {
  @extend .underline;
  flex-grow: 1;
  text-align: center;
  font-size: inherit;
  font-weight: 700;
  border-radius: $border-radius-button;
  color: black;
  padding: 0.5rem 1rem;
}

.button--danger {
  @extend .button--outline;
  color:red;
}