.header {
  height: auto;
  width: 80vw;
  border-radius: $border-radius-small;
  padding: 2px 10px;
  margin: 30px auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    height: 100%;

    .header__logo {
      font-size: 2rem;
    }
    .header__buttons {
      display: flex;
      justify-content:space-around;
      border-left: 4px solid black;
      align-items: center;
      padding-left: .5rem;
      padding-right: .5rem;
      position: relative;
      .header__sign {
       @extend .button;
      }
      .header__config {
        @extend .button--outline
      }
      .header__notif {
        @extend .button;
        border-radius: 25px;
        padding: 0.3rem;
        height: 2rem;
        width: 2rem;

      }
      .header__details {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        right: 0;
        top: 3rem;
        align-items: flex-end;
        border: 2px solid black;
        border-radius: $border-radius-button;
        background-color: white;
        padding: .5rem;
        width: 9rem;
        overflow: hidden;
      }
    }

    .header__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;

      .header__link {
        font-weight: 800;
        &:hover {
          text-decoration: underline;
          text-decoration-color: #ffe000;
          text-decoration-thickness: 0.3rem;
          cursor: pointer;        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    border-radius: 0;
    padding: 0;
    .header__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0.5rem;
      .header__logo {
        display: none;
      }
      .header__buttons, .header__links {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        align-items: flex-end;
      }
      .header__buttons {
        padding-top: 0.5rem;
        border-top: 1px solid black;
        align-items: flex-end;
        display: flex;
        flex-direction: row;
      }
    }
  }
}