.header {
  height: 60px;
  max-width: 1000px;
  border-radius: 25px;
  padding: 2px 10px;
  margin: 30px auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;

  .header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    height: 100%;

    .header__logo {
      font-size: 1.5rem;

    }
    .header__buttons {
      display: flex;
      justify-content:space-around;

      .header__sign {
        border: 0;
        background-color: inherit;
        font-size: inherit;
        background-color: black;
        border-radius: 25px;
        min-height: 100%;
        color: white;
        padding: 4px 12px;

        &:hover {
          background-color: grey;
          cursor: pointer;
        }
      }
    }
  }
}
