// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Pacifico&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
// Base
@import "./base/body";
@import "./base/colors";
@import "./base/fonts";
@import "./base/html";
@import "./base/layout";
@import "./base/animations";

// Components
@import "./components/buttons";
@import "./components/footer";
@import "./components/header";
@import "./components/form";
@import "./components/actionbar";
@import "./components/badges";

// Layouts
@import "./layouts/container";
@import "./layouts/modal";
@import "./layouts/devise";

// Fancy
@import "./fancy/sketch-rule";
@import "./fancy/mark";
@import "./fancy/underline";
